name: Publish Release Docker Image

on:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  IMAGE_NAME: pebble-dev-arm-linux
  PLATFORMS: linux/arm64,linux/arm/v7
  VERSION: "1.0"

jobs:
  public-nightly:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    strategy:
      fail-fast: false

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: clustermeerkat
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push multiarch image
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: |
            clustermeerkat/${{ env.IMAGE_NAME }}:latest
            clustermeerkat/${{ env.IMAGE_NAME }}:${{ env.VERSION }}
          platforms: ${{ env.PLATFORMS }}
          context: .
